pytest
pytest-asyncio
ruff==0.15.22
homeassistant==2025.1.4
habluetooth==3.7.0
bluetooth-data-tools==1.20.0
bleak==0.22.3
bleak-retry-connector==3.6.0
bluetooth-adapters==0.20.2
bluetooth-auto-recovery==1.4.2
